node_modules
.env
coverage
coverage.json
typechain-types
yarn-error.log

# Hardhat files
artifacts/
hh-cache/
hh-cache-coverage/
temp-src-coverage/

# Foundry test compilation files
cache
out
reference-out
optimized-out
reference-working
broadcast
lcov*.info

.DS_Store

# VScode
.vscode
__pycache__

# Use typescript instead of javascript
*.js
*.txt